#Titulo {
    
    font-size: 45px;
    
}
#NomePlaylist {
    
    font-size: 20px;
    
}
#DescricaoPlaylist {
    
    font-size: 20px;
}
#botaoSim{
    
    font-size: 20px;
}
#botaoNao{
    
    font-size: 20px;
}
#botaoCriar {
    
    font-size: 20px;
}
#PrivacidadePlaylist {
    
    font-size: 20px;
}
 body {
      font-family: Arial, sans-serif;
      background: #121212;
      color: #fff;
      padding: 20px;
    }